apsw==3.40.0.0
astroid==2.8.2
async-generator==1.10
async-timeout==4.0.2
attrs==20.3.0
autopep8==1.5.7
Babel==2.11.0
bandit==1.7.1
bcc==0.12.0
beautifulsoup4==4.11.1
black==22.12.0
blinker==1.5
Brlapi==0.7.0
Brotli==1.0.9
cachelib==0.7.0
cattrs==22.2.0
certifi==2022.9.24
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.0.7
check50==3.3.6
chrome-gnome-shell==0.0.0
cliapp==1.20180812.1
click==8.1.3
cloudscraper==1.2.58
cmdtest==0.32+git
colorama==0.4.6
colorgram.py==1.2.0
colorz==1.0.3
command-not-found==0.3
contourpy==1.0.6
cryptography==38.0.4
cs50==9.0.0
css-parser==1.0.8
cssselect==1.2.0
cssutils==2.6.0
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.3.2
defer==1.0.6
dill==0.3.6
distro==1.8.0
dnspython==2.2.1
docopt==0.6.2
docstring-to-markdown==0.9
dominate==2.5.2
email-validator==1.3.0
entrypoints==0.4
exceptiongroup==1.0.4
execnet==1.9.0
fancycompleter==0.9.1
FanFicFare==4.6.0
feedparser==6.0.10
flake8==4.0.1
Flask==2.2.2
Flask-Bootstrap==3.3.7.1
Flask-CKEditor==0.4.6
Flask-Gravatar==0.5.0
Flask-Login==0.6.2
Flask-Session==0.4.0
Flask-SQLAlchemy==3.0.2
Flask-WTF==1.0.1
fonttools==4.38.0
future==0.18.2
gitdb==4.0.9
GitPython==3.1.24
greenlet==1.1.2
grip==4.6.1
gunicorn==20.1.0
h11==0.14.0
hidpidaemon==18.4.6
html2text==2020.1.16
html5-parser==0.4.10
html5lib==1.1
httplib2==0.21.0
idna==3.4
ifaddr==0.2.0
importlib-metadata==4.11.4
importlib-resources==5.10.1
iniconfig==1.1.1
isort==5.11.3
itsdangerous==2.1.2
jaraco.classes==3.2.3
jedi==0.18.0
jeepney==0.8.0
jellyfish==0.9.0
Jinja2==3.1.2
kernelstub==3.1.4
keyring==23.11.0
kiwisolver==1.4.4
language-selector==0.1
launchpadlib==1.10.18
lazr.restfulclient==0.14.5
lazr.uri==1.0.6
lazy-object-proxy==1.6.0
lib50==3.0.4
louis==3.12.0
lsprotocol==2022.0.0a9
lxml==4.9.2
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.2
mccabe==0.6.1
mechanize==0.4.8
more-itertools==9.0.0
msgpack==1.0.4
mypy==0.910
mypy-extensions==0.4.3
netaddr==0.8.0
netifaces==0.11.0
nose==1.3.7
numpy==1.21.4
oauthlib==3.2.2
olefile==0.46
openshot-qt==2.4.3
outcome==1.2.0
packaging==22.0
pandas==1.5.1
parso==0.8.2
path-and-address==2.0.1
pathspec==0.9.0
pbr==5.7.0
pdbpp==0.10.3
pexpect==4.8.0
Pillow==9.3.0
pip-review==1.3.0
platformdirs==2.4.0
playsound==1.3.0
pluggy==1.0.0
ply==3.11
pop-transition==1.1.2
prettytable==3.5.0
prompt-toolkit==1.0.14
protobuf==4.21.12
psutil==5.5.1
psycopg2==2.9.5
psycopg2-binary==2.9.5
ptyprocess==0.7.0
py==1.11.0
PyAudio==0.2.11
pycairo==1.16.2
pychm==0.8.6
pycodestyle==2.8.0
pycparser==2.21
pycups==1.9.73
pydantic==1.8.2
pydbus==0.6.0
pydocstring==0.2.1
pydocstyle==6.1.1
pyflakes==2.4.0
pygame==2.0.1
pygls==0.11.3
Pygments==2.13.0
PyGObject==3.36.0
PyInquirer==1.0.3
PyJWT==2.6.0
pylint==2.11.1
pymacaroons==0.13.0
PyNaCl==1.5.0
pynvim==0.4.3
pyparsing==2.4.7
pyPEG2==2.15.2
pyperclip==1.8.2
PyQt5==5.14.1
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQtWebEngine==5.14.0
PyQtWebEngine-Qt5==5.15.2
pyrepl==0.9.0
pyRFC3339==1.1
PySocks==1.7.1
pytest==6.2.5
pytest-cache==1.0
pytest-pylint==0.18.0
pytest-subtests==0.5.0
python-apt===2.1.2pop0-1587756471-20.04-cd2988e
python-dateutil==2.8.2
python-debian==0.1.49
python-dotenv==0.21.0
python-xlib==0.32
pytz==2022.6
pywal==3.3.0
pywalfox==2.7.4
pyxdg==0.26
PyYAML==5.3.1
pyzmq==18.1.1
qutebrowser==2.5.2
ranger-fm==1.9.3
redis==4.4.0
regex==2021.10.8
repoman==1.2.2
repoze.lru==0.7
requests==2.28.1
requests-file==1.5.1
requests-toolbelt==0.9.1
requests-unixsocket==0.3.0
Routes==2.5.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
scipy==1.7.2
screenkey==0.9
SecretStorage==3.3.3
selenium==4.7.2
sessioninstaller==0.0.0
sgmllib3k==1.0.0
simplejson==3.16.0
sip==4.19.21
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.1.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spotipy==2.21.0
SQLAlchemy==1.4.37
sqlalchemy-cockroachdb==1.4.4
sqlparse==0.4.2
ssh-import-id==5.11
stevedore==3.5.0
systemd-python==234
termcolor==1.1.0
toml==0.10.2
tomli==1.2.1
tomlkit==0.11.6
tqdm==4.64.1
trio==0.22.0
trio-websocket==0.9.2
ttystatus==0.38
twilio==7.15.2
typeguard==2.13.0
typing-extensions==3.10.0.2
ubuntu-advantage-tools==27.12
ubuntu-drivers-common==0.0.0
ufw==0.36
urllib3==1.26.13
urwid==2.1.2
visitor==0.1.3
wadllib==1.3.6
wcwidth==0.2.5
webdriver-manager==3.8.5
webencodings==0.5.1
WebOb==1.8.7
Werkzeug==2.2.2
wmctrl==0.4
wrapt==1.12.1
wsproto==1.2.0
WTForms==3.0.1
xkit==0.0.0
youtube-dl==2021.12.17
zeroconf==0.39.4
zipp==3.8.0
