.title {
  text-align: center;
}

form {
  text-align: center;
  margin-top: 20px;
  border-bottom: 1px #0d6efd solid;
}

h3 {
  text-align: center;
  margin: 2rem;
  width: 30%;
  border-bottom: 1px #0d6efd solid;
}

.date-title {
  display: flex;
  justify-content: center;
  width: 100%;
}

html {
  margin: 1rem 2rem 2rem 2rem;
}

.todo-form {
  border-radius: 10px;
  margin-top: 2rem;
}
.form-item {
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
}

.subtitle {
  text-align: center;
}

nav {
  background-color: white;
}
