{% extends 'base.html' %}


{% block title %}ToDo{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
{% endblock %}


{% block content %}
  <h1 class="title">My TODO's</h1>


  <form method="POST" action="{{ url_for('home') }}" novalidate>
    <div class="todo-form">
      {{ form.csrf_token }}
      {{ form.entrydate (class_='form-item') }} {{ form.task (class_='form-item', placeholder="Todo Item") }}
      {{ form.description (class_='form-item', placeholder="Description (optional)") }}
    </div>
    <div>
      {{ form.submit (class_='form-item btn btn-primary add-item-button') }}
    </div>
  </form>





  {% for date in todos %}
    <div class=date-title>
    <h3>{{date[0].date.strftime("%B %d, %Y")}}</h3>
</div>
    <div class="list-group">
      {% for todo in date %}
        {% if not todo.is_completed %}
          <a href="{{ url_for("complete", todo_id=todo.id) }}" class="list-group-item list-group-item-action flex-column align-items-start">

            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ todo.task }}</h5>
              <small>{{ todo.date_created.strftime("%H:%M") }}</small>
            </div>
            <p>{{ todo.description }}</p>
          </a>

        {% else %}
          <li class="list-group-item list-group-item-success">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><a href="{{ url_for("complete", todo_id=todo.id )}}">☑</a> <strike>{{ todo.task }}</strike></h5>

              <a href="{{ url_for("delete", todo_id=todo.id)}}">✗</a>

            </div>

          </li>



        {% endif %}


      {% endfor %}
    </div>
  {% endfor %}

{% endblock %}

